@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Reset from joshwcomeau */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}
  /**************************/

:root {
    --color-1: #f43a09;
    --color-2: #ffb766;
    --color-3: #c2edda;
    --color-4: #68d388;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.main-container {
    height: 100vh;
    display: flex;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 40%;
    background: var(--color-3);
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    display: none;
}

#logo {
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
    border-radius: 50%;
    width: 7.5rem;
    display: none;
}

.footer {
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

.right-container {
    width: 60%;
    padding: 8rem 8rem;
}

.right-container h1 {
    font-size: 4.4rem;
}

.form-main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.form-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 6rem;
    margin-bottom: 4rem;
}

.form-sub-container > div {
    position: relative;
}

.form-sub-container label {
    position: absolute;
    font-size: 1.6rem;
    color: gray;
    top: 0.5rem;
    left: 1rem;
}

.form-sub-container input {
    font-size: 1.4rem;
    border-radius: 0.4rem;
    padding: 0.5rem 0rem 0.5rem 1rem;
    width: 28rem;
    border-bottom: 0.2rem solid var(--color-3);
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 0.1s ease;
}

.form-sub-container input:focus {
    border: 0.2rem solid var(--color-2);
    outline: none;
}

.right-container form > button {
    font-size: 1.4rem;
    width: 20rem;
    height: 4rem;
    background: var(--color-4);
    border: 0.2rem solid var(--color-4);
    border-radius: 0.8rem;
    cursor: pointer;
}

.right-container form > button:hover {
    background: var(--color-2);
    border: 0.2rem solid var(--color-2);
    opacity: 90%;
    transition: 0.3s;
}

.right-container > p {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}